/* line 7, ../scss/app.scss */
.container {
  width: 100%;
}

/* line 10, ../scss/app.scss */
.row {
  max-width: none;
}

/* line 13, ../scss/app.scss */
.icon-easel-logo {
  font-size: 7em;
}

/* line 16, ../scss/app.scss */
.header {
  padding: 20px 0;
}
/* line 18, ../scss/app.scss */
.header h1 {
  font-size: 5em;
  margin-bottom: 0;
}

/* line 27, ../scss/app.scss */
.banner {
  position: relative;
}
/* line 29, ../scss/app.scss */
.banner .caption {
  position: absolute;
  left: 7%;
  bottom: 15%;
}
/* line 33, ../scss/app.scss */
.banner .caption h2 {
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 46, ../scss/app.scss */
.swatches li {
  margin: 0;
  padding: 0 0;
  width: 7em;
  height: 7em;
  color: white;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}
/* line 55, ../scss/app.scss */
.swatches li p {
  padding: 5px 10px;
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

/* line 78, ../scss/app.scss */
.swatch-0 {
  background-color: #d35131;
}

/* line 78, ../scss/app.scss */
.swatch-1 {
  background-color: #dc745b;
}

/* line 78, ../scss/app.scss */
.swatch-2 {
  background-color: #8a2b14;
}

/* line 78, ../scss/app.scss */
.swatch-3 {
  background-color: #00deff;
}

/* line 78, ../scss/app.scss */
.swatch-4 {
  background-color: #044049;
}

/* line 85, ../scss/app.scss */
.type-samples h3 {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 100%;
}

/* line 92, ../scss/app.scss */
.sample-0 {
  font-family: "Oregano", cursive;
  font-size: 2em;
  color: #d35131;
}

/* line 92, ../scss/app.scss */
.sample-1 {
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  color: #dc745b;
}

/* line 92, ../scss/app.scss */
.sample-2 {
  font-family: "Oregano", cursive;
  font-size: 4em;
  color: #8a2b14;
}

/* line 92, ../scss/app.scss */
.sample-3 {
  font-family: "Lato", sans-serif;
  font-size: 5em;
  color: #00deff;
}

/* line 92, ../scss/app.scss */
.sample-4 {
  font-family: "Lato", sans-serif;
  font-size: 3em;
  color: #044049;
}

/* line 100, ../scss/app.scss */
.sample-0 {
  letter-spacing: 0.3em;
}

/* line 103, ../scss/app.scss */
.sample-1 {
  text-transform: uppercase;
}

/* line 106, ../scss/app.scss */
.sample-3 {
  font-weight: 900;
  letter-spacing: -0.05em;
}

/* line 110, ../scss/app.scss */
.texture-block {
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 20px;
  padding: 10px;
  width: 160px;
  height: 160px;
  background-color: #044049;
  color: #00deff;
  text-align: center;
  font-size: 6em;
}
/* line 124, ../scss/app.scss */
.texture-block .logo {
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 100;
}
/* line 130, ../scss/app.scss */
.texture-block .bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  font-size: 3em;
  color: #021e22;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
