swatches = ['primary', 'medium', 'alt', 'compliment', 'compliment-dark']
samples = ['Elegance', 'Boldness', 'personality', 'clarity', 'Oregonian-ness']

!!! 5
html
  head
    include includes/head
  body
    //- Header and Nav 
    .row.header
      .large-2.columns
        span
          a(href='#top', title='Back to top')
            .logo.icon-easel-logo
      .large-10.columns
        h1.right Sassy Style Tiles!
        //- ul.button-group.right
          li
            a.button(href='#') Link 1
          li
            a.button(href='#') Link 2
          li
            a.button(href='#') Link 3
          li
            a.button(href='#') Link 4
    //- End Header and Nav 
    //- First Band (Image) 
    .row
      .large-8.columns.banner
        img(src='images/featured.jpg')
        .caption
          h2 Waves. We've got 'em in Oregon. \m/
          button.medium
            | Let's catch some.
        hr
      //- Second Band (Image Left with Text) 
      .large-4.columns.type-samples
        h2 Type Attributes
        each sample, i in samples
          h3(class='sample-'+i) #{sample}
        hr
    //- Third Band (Image Right with Text) 
    .row
      .large-8.columns
        h3 This is a content section.
        p
          | Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, 
          strong chuck duis velit. 
          | Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
        .texture-block
          .bg.icon-qrcode
          .logo.icon-atom
        p
          | Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
      .large-4.columns
        //- h3 Example swatches
        ul.swatches.large-block-grid-3
          each swatch, i in swatches
            li(class='swatch-'+i)
              p #{swatch}
    //- Footer 
    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p © Copyright no one at all. Go to town.
          .large-6.columns
            ul.inline-list.right
              li
                a(href='#') Link 1
              li
                a(href='#') Link 2
              li
                a(href='#') Link 3
              li
                a(href='#') Link 4
    include includes/scripts
