<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

meta(charset='utf-8')
meta(name='viewport', content='width=device-width')
title Sassy Colors!
link(rel='shortcut icon', href='/favicon.ico')
link(rel='stylesheet', href='/css/normalize.css')
link(rel='stylesheet', href='/css/foundation.css')
link(href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic,900italic|Libre+Baskerville:400,700,400italic|Oregano|Oswald', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='/css/fonts.css')
link(rel='stylesheet', href='/css/app.css')
link(rel='stylesheet', href='/css/print.css')
script(src='/js/vendor/custom.modernizr.js')
script(src='/js/vendor/zepto.js')