script(src='/js/foundation/foundation.js')
//- script(src='/js/foundation/foundation.alerts.js')
script(src='/js/foundation/foundation.clearing.js')
script(src='/js/foundation/foundation.cookie.js')
//- script(src='/js/foundation/foundation.dropdown.js')
//- script(src='/js/foundation/foundation.forms.js')
//- script(src='/js/foundation/foundation.joyride.js')
//- script(src='/js/foundation/foundation.magellan.js')
//- script(src='/js/foundation/foundation.orbit.js')
script(src='/js/foundation/foundation.placeholder.js')
script(src='/js/foundation/foundation.reveal.js')
script(src='/js/foundation/foundation.section.js')
//- script(src='/js/foundation/foundation.tooltips.js')
//- script(src='/js/foundation/foundation.topbar.js')
//- script(src='/js/foundation/foundation.interchange.js')
script(type='text/javascript')
  $(document).foundation();
  //- $(document).ready(function() {('.lead').css('opacity', '1')});
  $('#hero h1').fadeTo('fast', 1, function() {
  $('#hero h2').fadeTo('fast', 1, function() {
  $('#hero h3').fadeTo('fast', 1, function() {
  // Animation complete.
  });});});

//- script(type='text/javascript')
//-   function vp_height() { $("#hero").css('height', '' + window.height());}
//-   $(document).ready(function() {
//-   vp_height();
//-   $(window).bind('resize', vp_height);
//-   }
script(type='text/javascript')
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43941645-1', 'allanwhite.info');
  ga('send', 'pageview');